body {
    margin: 20px;
    display: flex;
    gap: 40px;
    background-color: aqua;
}

div {
    margin-left: 20px;
    background-color: blueviolet;
    color: white;
}

p {
    margin-left: 20px;
    background-color: blue;
    color: white;
}